.nav-menu
  .cart{style:"display:none"}
    .name
      = t 'cart.name'
    .content
      = t 'cart.empty'
  .services_accordion{data:{:active => params[:ac_active]||1}}
    %h5#all
      %a{:href=> services_url }
        = t 'services.all'
    %div
    = render :partial => "shared/service_havigation"
