.main_carousel
  .main_gallery_controls
    .galary_pagination
      #main_carousel_pag

  .main_carousel_container
    %img{:src=> image_path("top_banner01.jpg"), :alt=>"" } 
    %img{ :src=> image_path("top_banner02.jpg"), :alt=>"" }
    %img{ :src=> image_path("top_banner03.jpg"), :alt=>"" }
    %img{ :src=> image_path("top_banner04.jpg"), :alt=>"" }
.image_carousel

  #slider1.slider1
    %img{ :src=> image_path("galary/slide_avtomoikaabonement.jpg"), :alt=>"", :data=>{:url => about_subscription_url}}
    %img{ :src=> image_path("galary/slide_avtomoikagarantiya.jpg"), :data=>{:url => about_guarantee_url}}
    %img{ :src=> image_path("galary/slide_lutshayaavtomoika.jpg"), :alt=>"", :data=>{:url => about_coffee_url}}
    %img{ :src=> image_path("galary/slide_moikaparom.jpg"), :alt=>"", :data=>{:url => about_steam_eco_url}}
    %img{ :src=> image_path("galary/slide_meguiars.jpg"), :data=>{:url => about_url} }
    %img{ :src=> image_path("galary/slide_lutshayaavtomoika.jpg"), :alt=>"", :data=>{:url => about_coffee_url}}
  .clearfix
  .gallery_controls
    %a#slider1_prev.prev{:href=>"#"}
      %span
        prev
    %a.next#slider1_next{ :href=>"#"}
      %span
        next
