%h5 
  %a{:href=>get_accardion_url(:tag => t( "services.exterior"))}
    =t 'services.exterior' 
%div
  %ol
    %li
      %a{:href => services_url(:tag => t( "materials.metal"))}
        =t "materials.metal"
    %li
      %a{:href => services_url(:tag => t( "materials.plastic"))}
        =t "materials.plastic"
    %li
      %a{:href => services_url(:tag => t( "materials.glass"))}
        =t "materials.glass"
    %li
      %a{:href => services_url(:tag => t( "parts.disks"))}
        =t "parts.disks"
    %li
      %a{:href => services_url(:tag => t( "parts.engine_cave"))}
        =t "parts.engine_cave"
    %li{:href => services_url(:tag => t( "parts.headlamp"))}
      %a
        =t "parts.headlamp"

%h5
  %a{:href => services_url(:tag => t( "services.varnish"))}
    = t 'services.varnish'
%div
  %ol
    %li
      %a{:href => services_url(:tag => t( "services.varnish_types.cleaning"))}
        =t "services.varnish_types.cleaning"
    %li
      %a{:href => services_url(:tag => t( "services.varnish_types.prepearing"))}
        =t "services.varnish_types.prepearing"
    %li
      %a{:href => services_url(:tag => t( "services.varnish_types.polishing"))}
        =t "services.varnish_types.polishing"
    %li
      %a{:href => services_url(:tag => t( "services.varnish_types.protection"))}
        =t "services.varnish_types.protection"
%h5
  %a{:href=> services_url(:tag => t( "services.interior"))}
    = t 'services.interior'
%div
  %ol
    %li
      %a{:href=> services_url(:tag => t( "materials.plastic"))}
        =t "materials.plastic"
    %li
      %a{href: services_url(:tag => t( "materials.glass"))}
        =t "materials.glass"
    %li
      %a{:href=> services_url(:tag => t( "materials.textile_only"))}
        =t "materials.textile_only"
    %li
      %a{:href=> services_url(:tag => t( "materials.leather"))}
        =t "materials.leather"
