%h5 
  %a{:href=>"#"}
    =t 'services.exterior' 
%div
  %ol
    %li
      %a=t "materials.metal"
    %li
      %a=t "materials.plastic"
    %li
      %a=t "materials.glass"
    %li
      %a=t "parts.disks"
    %li
      %a=t "parts.engine_cave"
    %li
      %a=t "parts.headlamp"

%h5
  %a{ :href=>"#"}
    = t 'services.varnish'
%div
  %ol
    %li
      %a
        =t "services.varnish_types.cleaning"
    %li
      %a
        =t "services.varnish_types.prepearing"
    %li
      %a
        =t "services.varnish_types.polishing"
    %li
      %a
        =t "services.varnish_types.protection"
%h5
  %a{:href=>"#"}
    = t 'services.interior'
%div
  %ol
    %li
      %a
        =t "materials.plastic"
    %li
      %a
        =t "materials.glass"
    %li
      %a
        =t "materials.textile_only"
    %li
      %a
        =t "materials.leather"
