.about-reason
  .title
    = t 'about.reason.title'
  .reason-boxes
    .reason.reason1{:data_id => 1, :data_href => about_meguiars_path, :class=> active == 1 ? "blue1" : ""}
      =t 'about.reason.reasons.reason1.name'
    .reason.reason2{:data_id => 2, :data_href => about_steam_force_path, :class=> active == 2 ? "blue2" : ""}
      =t 'about.reason.reasons.reason2.name'
    .reason.reason3{:data_id => 3, :data_href => about_employee_path, :class=> active == 3 ? "blue3" : ""}
      =t 'about.reason.reasons.reason3.name'
    .reason.reason4{:data_id => 4, :data_href => "#", :class=> active == 4 ? "blue1" : ""}
      =t 'about.reason.reasons.reason4.name'