.about-reason
  .title
    = t 'about.reason.title'
  .reason-boxes
    .reason.reason1
      =t 'about.reason.reasons.reason1.name'
    .reason.reason2.blue2
      =t 'about.reason.reasons.reason2.name'
    .reason.reason3
      =t 'about.reason.reasons.reason3.name'
    .reason.reason4
      =t 'about.reason.reasons.reason4.name'
.main-description
  .title
    = t 'about.reason.reasons.reason2.name'
  .descr
    = t 'about.reason.reasons.reason2.descr.html'