.top-banner
  %img{ :src => image_path("about/about_banner.jpg"), :alt => ""}
.about-main
  .add-blue-box
    =t 'about.main_add.html'
  .main_info
    .title
      = t 'about.deteiling.name'
    .text_columns
      .left-column
        = t 'about.deteiling.left'
      .right-column
        = t 'about.deteiling.right.html'
  = render :partial => "navigation", :locals => {:active => 0}
