.top-banner
  %img{ :src => image_path("about/about_banner.jpg"), :alt => ""}
.about-main
  .add-blue-box
    =t 'about.main_add.html'
  .main_info
    .title
      = t 'about.deteiling.name'
    .text_columns
      .left-column
        = t 'about.deteiling.left'
      .right-column
        = t 'about.deteiling.right.html'
  .about-reason
    .title
      = t 'about.reason.title'
    .reason-boxes
      .reason.reason1
        =t 'about.reason.reasons.reason1.name'
      .reason.reason2
        =t 'about.reason.reasons.reason2.name'
      .reason.reason3
        =t 'about.reason.reasons.reason3.name'
      .reason.reason4
        =t 'about.reason.reasons.reason4.name'
