#about_controller{
  .about-main {
    width: 975px;
    padding-left: 120px;
    margin-top: 30px;
    .add-blue-box{
      display: inline-block;
      vertical-align: top;
      background: image-url("about/about_blue_box.png") no-repeat;
      font-family: Georgia;
      font-size: 19px;
      font-style: italic;
      height: 195px;
      line-height: 21px;
      padding: 43px 20px;
      text-align: justify;
      width: 180px;
      margin-top: 29px;
    }
    .main_info{
      position: relative;
      display: inline-block;
      vertical-align: top;
      background: image-url("about/about_index_box.png");
      height: 365px;
      width: 745px;
      margin-top: -15px;
      .title{
        color: whitesmoke;
        font-size: 18px;
        font-weight: bolder;
        position: absolute;
        right: 120px;
        top: 17px;
      }
      .text_columns{
        padding: 60px 40px 10px;
        .left-column, .right-column{
          display: inline-block;
          font-size: 15px;
          height: 260px;
          text-align: justify;
          vertical-align: top;
          width: 310px;
        }
        .right-column{
          margin-left: 35px;
        }
      }
    }
    .about-reason{
      .title{
        color:red;
        font-size: 24px;
        margin-top: 20px;
        padding-bottom: 0;
        margin-bottom: 15px;
        margin-left: 30px;
      }
      .reason-boxes{
        .reason{
          display: inline-block;
          vertical-align: top;
          font-size: 13px;
          height: 85px;
          margin-right: 10px;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 60px;
          text-align: center;
          width: 190px;
          cursor: pointer;
        }
        .reason1{
            background: image-url("about/box1a.png") no-repeat;
        }
        .reason2{
          background: image-url("about/box2a.png") no-repeat;
          margin-right: 8px;
        }
        .reason3{
          background: image-url("about/box3a.png") no-repeat;
        }
        .reason4{
          background: image-url("about/box4a.png") no-repeat;
        }
        .blue1{
          background: image-url("about/box1b.png") no-repeat;
        }
        .blue2{
          background: image-url("about/box2b.png") no-repeat;
        }
        .blue3{
          background: image-url("about/box3b.png") no-repeat;
        }
        .blue4{
          background: image-url("about/box4b.png") no-repeat;
        }
      }
    }
    .main-description{
      width: 960px;
      background: image-url("about/box0.png") no-repeat;
      height: 165px;
      margin-top: -2px;
      .title {
        color: #0088CC;
        font-size: 24px;
        padding-left: 30px;
        padding-top: 20px;
        line-height: 23px;
      }
      .descr{
        font-size: 17px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        text-align: justify;
      }
      .third-step-descr{
        padding-top: 0;
      }
    }
    .blue{
      color: #0088CC;
    }
    span.bold{
      font-weight: bold;
    }

    .nav-buttons {
      margin-top: -20px;
      width: 296px;
      margin-left: 18px;
      .navbar-inner {
        background: #ffffff;
      }
      .navbar .nav .active  > a {
        background: #e8e8e8;
        color: #1f1f1f;
      }
      .navbar .nav > li > a {
        color: #555555;
        background: #ffffff;
      }
      .navbar .nav > li > a:hover {
        color: #1f1f1f;
      }
    }
    .second-step-btn{
      width: 418px;
    }
    .third-step-btn {
      width: 165px;
    }
    .fourth-step-btn {
      width: 618px;
    }
    .concept{
      margin-top: 30px;
      position: relative;
      .circle {
        display: inline-block;
        vertical-align: top;
        margin-left:  0;
      }
      .arrows-circle{
        margin-left: 30px;
      }
      .descr {
        display: inline-block;
        font-size: 15px;
        font-weight: lighter;
        margin-left: 30px;
        margin-top: 30px;
        vertical-align: top;
        width: 343px;
      }
      .remark {
        left: 335px;
        position: absolute;
        top: 95px;
      }
      .invite{
        position: absolute;
        color: #0088cc;
        font-size: 15px;
        font-style: italic;
        width: 300px;
        right: 0;
        top: 125px;
      }
      .steam_descr{
        margin-left: 0;
        width: 725px;
        text-align: justify;
      }
      .steam_invite{
        width: 426px;
        top: 155px;
      }
      .safety_invite{
        top: 180px;
        width: 775px;
      }
      .eco_invite{
        top: 180px;
        width: 460px;
      }
      .coffee_invite{
        top: 160px;
        width: 360px;
      }
      .guarantee_invite{
        top: 160px;
        width: 500px;
      }
      .coffee-decr{
        position: absolute;
        right: 0;
        text-align: justify;
        top: 90px;
        width: 560px;
      }
    }
    .discount-descr{
      font-size: 15px;
      margin-left: 30px;
      margin-top: 30px;
      text-align: justify;
      width: 900px;
    }
    .discount-img{
      margin-top: 30px;
      position: relative;
      height: 230px;
      width: 960px;
      background: image-url("about/discount.png");
      .discount-title{
        color: whitesmoke;
        font-size: 18px;
        font-weight: bolder;
        position: absolute;
        right: 140px;
        top: 17px;
      }
    }
    .subscription-img{
      margin-top: 30px;
      position: relative;
      height: 295px;
      width: 960px;
      background: image-url("about/subscription.png");
      .subscription-title{
        color: whitesmoke;
        font-size: 18px;
        font-weight: bolder;
        position: absolute;
        right: 153px;
        top: 13px;
      }
      .subscription-descr {
        font-size: 15px;
        padding-left: 50px;
        padding-top: 60px;
        width: 880px;
      }
    }
    .steps > div{
      margin-top: 30px;
      font-size: 15px;
      margin-left: 30px;
      margin-right: 30px;
      width: 900px;
      text-align:justify;
    }
    .steps {
      .second-step-detailed{
        position: relative;
        background: image-url("about/miles-box.png") no-repeat;
        width: 960px;
        height: 510px;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
        width: auto;
        .first-mile,.second-mile {
          position: absolute;
          width: 380px;
          top: 30px;
          text-align: justify;
        }
        .first-mile{
          left: 50px;
        }
        .second-mile {
          right: 60px;
        }
      }
    }
    .mag-info {
      position: relative;
      margin-top: 30px;
      .description {
        margin-left: 30px;
        vertical-align: top;
        display: inline-block;
        width: 690px;
        font-size: 17px;
        margin-top: 30px;
        text-align: justify;
      }
      .mag-icon {
        background: image-url("about/meguiars_logo.png") no-repeat;
        width: 175px;
        height: 175px;
        vertical-align: top;
        display: inline-block;
        margin-left: 30px;
      }
      .like{
        position: absolute;
        font-style: italic;
        right: 30px;
        top: 160px;
      }
    }
    .princip{
      margin-top: 30px;
      width: 960px;
      height: 416px;
      background: image-url("about/box.png");
      position: relative;
      .title{
        color: whitesmoke;
        font-size: 18px;
        font-weight: bolder;
        position: absolute;
        right: 210px;
        top: 17px;
        text-align: center;
        width: 180px;
      }
      .descr{
        left: 500px;
        right: 60px;
        top: 130px;
        width: 375px;
        font-size: 16px;
        position: absolute;
      }
    }
    .history{
      margin-left: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
      .citate, .pebel-beach{
        display: inline-block;
        vertical-align: top;
        width: 430px;
      }
      .citate{
        margin-left: 10px;
        margin-right: 30px;
        width: 440px;
        .name{
          margin-bottom: 30px;
          font-size: 15px;
        }
        .value {
          font-style: italic;
          img {
            vertical-align: bottom;
          }
        }
      }
      .pebel-beach{
        .icon > img{
          width: 400px;
          height: 85px;
        }
        .descr{
          font-size: 14px;
          margin-top: 30px;
        }
      }
    }
    .vapour_graph{
      position: relative;
      height: 415px;
      width: 960px;
      margin-top: 50px;
      background: image-url("about/vapour_grpah.png") no-repeat;
      .title {
        color: whitesmoke;
        font-size: 18px;
        font-weight: bolder;
        position: absolute;
        right: 140px;
        text-align: center;
        top: 15px;
        width: 315px;
      }
    }
    .botles{
      height: 455px;
      background: image-url("about/botles.png") no-repeat;
    }
    .employee {
      .description, .picture{
        vertical-align: top;
        display: inline-block;
      }
      .description{
        width: 470px;
        font-size: 15px;
        .first-descr, .second-descr, .like{
          margin-top: 50px;
          text-align: justify;
        }
        .like{
          color: #0088cc;
          font-size: 15px;
          font-style: italic;
        }
      }
      .picture{
        width: 470px;
        height: 750px;
        background: image-url("about/employee_box.png");
      }
    }
  }
}
