@import "bourbon";
@import "bootstrap";
//= require_self
@import "galary.css.scss";
@import "header.css.scss";
@import "footer.css.scss";
@import "services.css.scss";
@import "products.css.scss";
@import "about.css.scss";

body {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.background-div {
  position: absolute;
  z-index: 0;
  .top-div{
    background: image-url("287x745top.png");
    width: 745px;
    height: 287px;
  }
  .line{
    background: image-url("1x745middle.png");
    width: 745px;
    height: auto;
  }
  .bottom-div {
    background: image-url("293x745bottom.png");
    width: 745px;
    height: 293px;
  }
}

.services_accordion {
  width: 210px;
}

.ui-accordion .ui-accordion-header a {
  font-size: 14px;
}

.services_accordion ol {
  list-style-type : none;
  margin: -10px 0 0px -8px;
  font-size: 15px;
}

.services_accordion li a {
  cursor: pointer;
}