@import "galary";
@import "bourbon";
@import "bootstrap";
@import "header.css.scss";
@import "footer.css.scss";
@import "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css";

body {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
