.footer {
  width: 1200px ;
}

.upper-footer-main {
  padding-top: 10px;
}

.upper-footer-main {
  padding-left: 8% ;
}

.upper-footer .service,.upper-footer .contact, .upper-footer .products, .upper-footer .subscription {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 10px;
  vertical-align: top;
}

$upper-div-height: 140px;

.upper-footer {
  height: $upper-div-height;
  width:100%;
}

.lower-footer div a {
  color: #AAAAAA;
  font-size: 10px;
}

.upper-footer ul a {
  color: #AAAAAA;
  font-size: 10px;
}

.upper-footer li {
  margin: -5px;
  padding-left: 10px;
  background-image: url(/images/list-bullet.gif);
  background-repeat: no-repeat;
  background-position: 0 .5em;
}

.upper-footer .name {
  color: #AAAAAA;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.upper-footer ul {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.upper-footer .line {
  height: $upper-div-height;
  display: inline-block;
  vertical-align: top;
}

.subscription .btn, .subscription .form {
  color: #AAAAAA;
}

.subscription .form {
  margin-top: 5px;
}

.upper-footer-ps, .upper-footer-s {
  display: inline-block;
  vertical-align: top;
}

.upper-footer-ps ul{
  display: block;
}

.contact .address {
  width: 185px;
}

.contact .letter, .contact .phone {
  margin-top: 10px;
}

.subscription img {
  height: 40px;
}

.lower-footer div {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.lower-footer{
  padding-left: 40px;
  padding-bottom: 30px;
}

.upper-footer .stripe {
  padding-left: 100px;
}

.upper-footer-s {
  margin-left: -20px;
}

.upper-footer-products {
  margin-left: -20px;
}

.subscribe .subscribe-button {
  width: 175px;
}

.lower-footer div.better a {
  color: #0088CC;
}