#products_controller{
  .products {
    padding: 30 px;
    .product-nav, .product-content{
      display: inline-block;
      vertical-align: top;
      margin-top: 10px;
    }
    .product-nav {
      margin-left: 120px;
    }
    .product-content{
      margin-top: 10px;
      margin-left: 30px;
      .product-name{
        color: red;
        font-size: 25px;
        margin-left: 15px;
        font-style: italic;
      }
      .product-description{
        background: image-url("products_show.png") no-repeat;
        height: 345px;
        width: 745px;
        margin-top: 10px;
        .description{
          .title{
            padding: 25px 0 0 305px;
            text-align: left;
            color: #0088CC;
            font-size: 20px;
          }
          .content{
            margin-left: 40px;
            margin-top: 10px;
            .image, .text-content{
              vertical-align: top;
              display: inline-block;
              img {
                width: 245px;
              }
            }
            .image{}
            .text-content{
              height: 245px;
              margin-left: 20px;
              text-align: justify;
              width: 395px;
            }
          }
        }
      }
      .related-services{
        margin-top: 30px;
        margin-left: 15px;
        .line {
          height: 1px;
          width: auto;
          background-color: #BBBBBB;
          margin: 5px 0;
        }
        .title{
          text-align: left;
          color: #0088CC;
          font-size: 20px;
        }
        .services{
          img {
            margin: 5px;
          }
        }
      }
      .header-label{
        position: relative;
        width: 744px;
        height: 130px;
        background: image-url("products_header.png") no-repeat;
        .text_content{
          font-size: 20px;
          font-weight: bold;
          left: 160px;
          position: absolute;
          top: 55px;
        }
      }
      .items{
        margin-top: 20px;
        position: relative;
        .paginator{
          position: absolute;
          right: 0;
          top: 4px;
        }
        .header{
          text-transform: uppercase;
          color: #ff0000;
          font-size: 24px;
          background: #f7f7f7;
          margin-bottom: 40px;
        }
        .line{
          margin-top: 5px;
          width: auto;
          height: 1px;
          background: #a9a9a9;
        }
        .items_content{
          width: 744px;
          .item {
            margin: 7px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            img {
              width: 230px;
              display: block;
            }
            .description {
              text-align: center;
              width: 230px;
              overflow: hidden;
              height: 50px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}