#products_controller{
  .products {
    padding: 30 px;
    .product-nav, .product-content{
      display: inline-block;
      vertical-align: top;
    }
    .product-nav {
      margin-left: 85px;
    }
    .product-content{
      margin-top: 10px;
      .header-label{
        position: relative;
        width: 744px;
        height: 130px;
        background: image-url("products_header.png") no-repeat;
        .text_content{
          font-size: 20px;
          font-weight: bold;
          left: 160px;
          position: absolute;
          top: 55px;
        }
      }
      .items{
        margin-top: 20px;
        .header{
          text-transform: uppercase;
          color: #ff0000;
          font-size: 24px;
          background: #ffffff;
          margin-bottom: 30px;
        }
        .line{
          margin-top: 5px;
          width: auto;
          height: 1px;
          background: #a9a9a9;
        }
        .items_content{
          width: 744px;
          .item {
            margin: 7px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            img {
              width: 130px;
              height: 130px;
              display: block;
            }
            .description {
              text-align: center;
              width: 130px;
              overflow: hidden;
              height: 50px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}