// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "jquery-ui-1.8.23.custom.css.scss";

.services_accordion{
  @include jquery-ui;
  .ui-icon {
    vertical-align: top;
    display: inline-block;
  }
  .ui-accordion-header{
    padding: 5px;
    a {
      display: inline-block;
      width: 170px;
    }
  }
}

#services_controller{
  .services-main {
    margin-top: 10px;
    margin-left: 120px;
  }

  .nav-menu .cart {
    width: 220px;
    height: 70px;
    background: image-url("shopcart220.png") no-repeat;
  }

  .cart .name {
    font-size: 20px;
    font-style: italic;
    margin-left: 50px;
    padding-top: 10px;
    text-align: center;
    width: 100px;
  }

  .cart .content {
    color: red;
    font-size: 12px;
    font-style: italic;
    margin-left: 45px;
    padding-top: 8px;
    text-align: center;
  }
  .nav-menu {
    display: inline-block;
  }
  .services-items {
    display: inline-block;
    vertical-align: top;
  }

  .service-header {
    width: 745px;
    height: 220px;
    background: image-url("220x744red.png") no-repeat 0 0 transparent;
    color: #777777;
    font-size: 17px;
    padding-left: 10px;
  }

  .service-header span.red{
    color: red;
  }

  .messagge2, .messagge1, .messagge-bold {
    padding: 15px 15px 0px 15px;
    font-family: 'Myriad Pro','Liberation Sans',sans-serif;
  }

  .messagge-bold{
    font-weight: bold;
    padding: 35px 15px 15px 15px;
  }

  .messagge-icon {
    float: right;
    margin-right: 35px;
    margin-top: -15px;
    width: 20px;
  }

  .programms  {
     background: image-url("basic_express_box.png") no-repeat scroll 0 0 transparent;
     width: 735px;
     height: 420px;
     margin: 0px 0 10px 5px;
  }

  .programms .basic, .programms .express{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 20px 0 0 120px;
  }

  .price {
    vertical-align: top;
    display: inline-block;
  }
  .programms .express {
    margin-left: 101px;
  }
  .price {

  }

  .price div{
    color: red;
    font-size: 20px;
    font-style: italic;
    margin: 20px 0 0 20px;
  }

  .price .price-label{
    color: #a9a9a9;
    margin-top: 15px;
  }

  .description {
    width: 220px;
    text-align: justify;
    margin: 10px 0 0 28px;
    line-height: 14px;
    height: 135px;
  }

  .buttons .order, .buttons .include {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0 0 20px;

  }

  .buttons .include {
    margin-top: 23px;
    margin-right: 0px;
    margin-left: 30px;
  }

  .service-items {
    margin-left: 240px;
    width: 720px;
    position: relative;
    .paginator {
      position: absolute;
      right: 0;
      top: -18px;
    }
    a {
      color: red;
    }
  }
  .tab-pane {
    padding-left: 5px;
  }
  .item {
    background: #ffffff;
    border: 1px solid graytext;
    height: 205px;
    width: 330px;
    margin: 10px;
    display: inline-block;

    .pic {
      display: inline-block;
      vertical-align: top;
      img {
        width: 130px;
        height: 130px;
        margin: 10px;
      }
    }

    .item-description {
      display: inline-block;
      vertical-align: top;
      margin-top: 10px;
      width: 175px;

      div.name {
        font-size: 17px;
        width: 165px;
        height: 95px;
      }
      .options div{
        font-style: italic;
        height: 20px;
        overflow: hidden;
        vertical-align: text-top;
        div.name {
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          height: 16px;
          width: 80px;
          display: inline-block;
        }
      }
      .options div.buy{
        span.value{
          color: red;
          font-size: 20px;
          font-style: italic;
        }
      }
    }
    .buttons{
      div {
        display: inline-block;
        vertical-align: top;
        margin: 9px 10px 10px;
      }
      .detail{
        float: right;
        margin-top: 29px;
        a {
          color: #0088CC;
        }
      }
    }
  }
  .service-name{
    margin: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ff0000;
  }
  .prices {
    .basic {
      margin-bottom: 5px;
    }
    margin-top: -5px;
    .title {
      margin-bottom: 5px;
      color: #0088CC;
      font-size: 20px;
      text-align: left;
    }
    .name, .price {
      display: inline-block;
      vertical-align: top;
    }
    .name {
      width: 140px;
    }
    .price {
      color: #ff0000;
      font-size: 20px;
    }
  }

  .used-products{
    margin-left: 240px;
    margin-top: 50px;
    width: 725px;
    .name {
      text-align: left;
      color: #0088CC;
      font-size: 20px;
    }
    .line {
      height: 1px;
      width: auto;
      background-color: #BBBBBB;
      margin: 5px 0;
    }
    .products {

    }
  }
  @import "show_services.css.scss";
  @import "media_services.css.scss";
}