.top-banner
  %img{ :src => image_path("product_banner.jpg"), :alt => ""}
.products
  .product-nav
    .services_accordion
      = render :partial => "shared/service_havigation"
  .product-content
    .header-label
      .text_content
        = t 'products.autocosmetic'
    .items
      .header
        = t 'products.products_we_use'
      .line
      .items_content
        .item
          %img{:src=> image_path("meguaers/meguiars_scratchx_s.jpg")}
          .description
            Meguaers All purpos cleaner
        .item
          %img{:src=> image_path("meguaers/meguiars_scratchx_s.jpg")}
          .description
            Meguaers All purpos cleaner
        .item
          %img{:src=> image_path("meguaers/meguiars_scratchx_s.jpg")}
          .description
            Meguaers All purpos cleaner
        .item
          %img{:src=> image_path("meguaers/meguiars_scratchx_s.jpg")}
          .description
            Meguaers All purpos cleaner
        .item
          %img{:src=> image_path("meguaers/meguiars_scratchx_s.jpg")}
          .description
            Meguaers All purpos cleaner
        .item
          %img{:src=> image_path("meguaers/meguiars_scratchx_s.jpg")}
          .description
            Meguaers All purpos cleaner
        .item
          %img{:src=> image_path("meguaers/meguiars_scratchx_s.jpg")}
          .description
            Meguaers All purpos cleaner
      .line